
/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #fff;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

ul li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  content: "";
  display: table;
}
a:hover {
  color: #FF00BF;
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  width: 75%;
  margin: 0 auto;
}

/*Header*/
header {
  background-color: pink;
  padding: 17px 15px;
  background-color: #27103E;
  background-image: url(../assets/images/hero.gif);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}

.intro {
  background-color: #fff;
  height: 420px;
  width: 560px;
  float: right;
  padding: 55px;
}

.intro .text-small {
  font-size: 10px;
  color: #728099;
}

.intro .text a:hover {
  text-decoration: underline;
}

.title {
  font-size: 25px;
  font-size: 45px;
  line-height: 50px;
}

.logo img {
  width: 70px;
}

.navegacion {
  overflow: auto;
  margin: 25px;
}

.logo {
  display: inline-block;
  margin-left: 50px;
}

.navegacion-elementos{
  display: inline-block;
  float: right;
  transform: translateY(50%);
  margin-right: 120px;
}

.navegacion-elementos .elemento {
  display: inline-block;
  padding: 0 15px;
}

.navegacion .elemento .btn {
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 5px;
}

.color-purple {
  color: #352384;
}

.color-pink {
  color: #FF00BF;
}

.box-input input {
  outline: 0;
  border: none;
  margin: 7px 0;
}

.box-input {
  border-bottom: 1px solid #352384;
  margin: 20px 0;
}

.formulario .btn {
  cursor: pointer;
  border: 1px solid transparent;
  padding: .75rem 1.25rem;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 5px;
  background-color: #FF00BF;
  color: #fff;
  font-weight: 700;
}

/*Section Detalles*/
.detalles {
  background: linear-gradient(#76278F, #2B1E66);
  width: 100%;
  padding: 70px 0 50px 0;
}

.caracteristicas .elemento {
  padding-bottom: 10px;
}

.detalles .caracteristicas {
  display: inline-block;
  width: 50%;
}

.subtitle {
  font-size: 30px;
  font-weight: 200;
}

.detalles .caracteristicas p {
  line-height: 1.5;
}

.detalles figure {
  display: inline-block;
  float: right;
  position: relative;
  left: 60px;
}

.detalles figure img{
  width: 423px;
}
